build_npm.sh
coverage/
sample/
typings/
typings_custom/
src/
test_makey.ps1
protractor_makey.ps1
runtests.sh
karma.conf.js
Makefile
config.js
*.tgz
*.ps1
.travis.yml
tsconfig.json
typings.json
versionchecker.py
build_tsdecls_only.sh
*.lock
